<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <type name="Practice\Core\Model\TargetClass">
        <arguments>
            <argument name="logger" xsi:type="object">Practice\Core\Model\DemoLogger</argument>
        </arguments>
    </type>

     <preference for="Practice\Core\Model\GreetingInterface" type="Practice\Core\Model\HelloGreeting"/>

     <type name="Practice\Core\Model">
        <arguments>
            <argument name="validators" xsi:type="array">
                <item name="length" xsi:type="object">Practice\Core\Model\LengthValidator</item>
                <item name="alpha" xsi:type="object">Practice\Core\Model\AlphaValidator</item>
            </argument>
        </arguments>
    </type>

    <virtualType name="Practice\Core\Model\StandardShippingCalculator" type="Practice\Core\Model\ShippingCalculator">
        <arguments>
            <argument name="rate" xsi:type="float">10</argument>
        </arguments>
    </virtualType>

    <virtualType name="Practice\Core\Model\FreeShippingCalculator" type="Practice\Core\Model\ShippingCalculator">
        <arguments>
            <argument name="rate" xsi:type="float">0</argument>
        </arguments>
    </virtualType>

</config>
