<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    
    <type name="Practice\Core\Model\TargetClass">
        <arguments>
            <argument name="logger" xsi:type="object">Practice\Core\Model\DemoLogger</argument>
        </arguments>
    </type>
</config>
