<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:noNamespaceSchemaLocation="urn:magento:framework/Event/etc/events.xsd">
    <event name="customer_login">
        <observer name="practice_core_log_login" instance="Practice\Core\Observer\CustomerLoginObserver" disabled = "true" />
                <observer name="practice_core_log_login" instance="Practice\Core\Observer\CustomerLoginObserver" disabled = "false" />

    </event>

      <event name="practice_greeting_send_before">
        <observer name="practice_custom_greeting_logger" instance="Practice\Core\Observer\GreetingLoggerObserver"/>
    </event>

    <event name="layout_generate_blocks_after">
        <observer name="practice_modify_layout" instance="Practice\Core\Observer\ModifyLayout" />
    </event>
</config>
